<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
		     debug="false">
  <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${basedir}/target/test-log4j.log" />

    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="append" value="true" />

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) %m%n" />
    </layout>
  </appender>

  <!-- This log appender must not be used for classes involved
       in logging itself! So it must not be used to log database access!
    -->
  <appender name="LOG_SERVICE" class="info.akshaal.mywire2.logger.LogServiceAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] (%t:%x) %m%n" />
    </layout>
  </appender>

  <category name="java.sql">
     <priority value="INFO"/>
  </category>

  <category name="com.ibatis">
     <priority value="INFO"/>
  </category>

  <category name="info.akshaal">
     <priority value="TRACE"/>
     <appender-ref ref="LOG_SERVICE" />
  </category>
  
  <root>
     <appender-ref ref="FILE" />
  </root>
</log4j:configuration>
